@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 83% 94%; /* #FEFAE0 */
    --foreground: 35 21% 25%; /* a dark brown for text */
    --card: 60 83% 94%; /* #FEFAE0 */
    --card-foreground: 35 21% 25%;
    --popover: 60 83% 94%; /* #FEFAE0 */
    --popover-foreground: 35 21% 25%;
    --primary: 84 34% 77%; /* #CCD5AE */
    --primary-foreground: 35 21% 25%;
    --secondary: 76 43% 85%; /* #E9EDC9 */
    --secondary-foreground: 35 21% 25%;
    --muted: 76 43% 85%; /* #E9EDC9 */
    --muted-foreground: 35 21% 45%;
    --accent: 30 74% 64%; /* #D4A373 */
    --accent-foreground: 35 21% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 76% 90%; /* #FAEDCD */
    --input: 45 76% 90%; /* #FAEDCD */
    --ring: 84 34% 77%; /* #CCD5AE */
    --chart-1: 84 34% 77%; /* primary */
    --chart-2: 30 74% 64%; /* accent */
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 35 21% 15%; /* Dark Brown */
    --foreground: 60 83% 94%; /* #FEFAE0 */
    --card: 35 21% 15%;
    --card-foreground: 60 83% 94%;
    --popover: 35 21% 15%;
    --popover-foreground: 60 83% 94%;
    --primary: 84 34% 67%; /* a bit darker #CCD5AE */
    --primary-foreground: 35 21% 15%;
    --secondary: 76 43% 75%; /* a bit darker #E9EDC9 */
    --secondary-foreground: 35 21% 15%;
    --muted: 76 43% 75%;
    --muted-foreground: 60 83% 88%;
    --accent: 30 74% 54%; /* a bit darker #D4A373 */
    --accent-foreground: 35 21% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 76% 80%; /* a bit darker #FAEDCD */
    --input: 45 76% 80%;
    --ring: 84 34% 67%;
    --chart-1: 84 34% 67%; /* primary */
    --chart-2: 30 74% 54%; /* accent */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
