@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 264 33% 95%;
    --foreground: 255 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 255 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 255 10% 20%;
    --primary: 255 37% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 255 37% 90%;
    --secondary-foreground: 255 37% 48%;
    --muted: 255 30% 90%;
    --muted-foreground: 255 10% 45%;
    --accent: 255 100% 87%;
    --accent-foreground: 255 37% 48%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 37% 88%;
    --input: 255 37% 92%;
    --ring: 255 37% 48%;
    --chart-1: 255 37% 48%; /* primary */
    --chart-2: 255 100% 87%; /* accent */
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 255 10% 15%;
    --foreground: 264 33% 95%;
    --card: 255 10% 20%;
    --card-foreground: 264 33% 95%;
    --popover: 255 10% 15%;
    --popover-foreground: 264 33% 95%;
    --primary: 255 100% 87%;
    --primary-foreground: 255 10% 20%;
    --secondary: 255 15% 30%;
    --secondary-foreground: 264 33% 95%;
    --muted: 255 15% 25%;
    --muted-foreground: 264 33% 80%;
    --accent: 255 37% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 15% 30%;
    --input: 255 15% 25%;
    --ring: 255 100% 87%;
    --chart-1: 255 100% 87%; /* primary */
    --chart-2: 255 37% 48%; /* accent */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
